In [4]:
df = pd.read_fwf('data/headlines.txt')
df.columns = ['headline']

In [29]:
df.head()

                                  headline
0          Could Zika Reach New York City?
1        First Case of Zika in Miami Beach
2  Mystery Virus Spreads in Recife, Brazil
3  Dallas man comes down with case of Zika
4        Trinidad confirms first Zika case

In [46]:
import geonamescache

gc = geonamescache.GeonamesCache()
countries = gc.get_countries()
cities = gc.get_cities()

In [58]:
country_names = []
country_ids = list(countries.keys())
for country_id in country_ids:
    country_names.append(countries[country_id]['name'])

In [60]:
len(country_names)

252

In [73]:
country_names[:20]

['Andorra',
 'United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Anguilla',
 'Albania',
 'Armenia',
 'Angola',
 'Antarctica',
 'Argentina',
 'American Samoa',
 'Austria',
 'Australia',
 'Aruba',
 'Aland Islands',
 'Azerbaijan',
 'Bosnia and Herzegovina',
 'Barbados',
 'Bangladesh',
 'Belgium']

In [68]:
city_names = []
city_ids = list(cities.keys())
for city_id in city_ids:
    city_names.append(cities[city_id]['name'])

In [70]:
len(city_names)

24336

In [94]:
city_names[:20]

['Andorra la Vella',
 'Umm Al Quwain City',
 'Ras Al Khaimah City',
 'Zayed City',
 'Khawr FakkƒÅn',
 'Dubai',
 'Dibba Al-Fujairah',
 'Dibba Al-Hisn',
 'Sharjah',
 'Ar Ruways',
 'Al Fujairah City',
 'Al Ain City',
 'Ajman City',
 'Adh Dhayd',
 'Abu Dhabi',
 'Khalifah A City',
 'Bani Yas City',
 'Musaffah',
 'Al Shamkhah City',
 'Reef Al Fujairah City']

In [89]:
from unidecode import unidecode

city_names_unidecoded = [unidecode(city) for city in city_names]

In [93]:
city_names_unidecoded[:20]

['Andorra la Vella',
 'Umm Al Quwain City',
 'Ras Al Khaimah City',
 'Zayed City',
 'Khawr Fakkan',
 'Dubai',
 'Dibba Al-Fujairah',
 'Dibba Al-Hisn',
 'Sharjah',
 'Ar Ruways',
 'Al Fujairah City',
 'Al Ain City',
 'Ajman City',
 'Adh Dhayd',
 'Abu Dhabi',
 'Khalifah A City',
 'Bani Yas City',
 'Musaffah',
 'Al Shamkhah City',
 'Reef Al Fujairah City']

In [104]:
pattern_country = '|'.join(country_names)
pattern_city = '|'.join(city_names)

def pattern_searcher(search_str:str, search_list:str):
    search_obj = re.search(search_list, search_str)
    if search_obj :
        return_str = search_str[search_obj.start(): search_obj.end()]
    else:
        return_str = 'NA'
    return return_str

df['country'] = df['headline'].apply(lambda x: pattern_searcher(search_str=x, search_list=pattern_country))
df['city'] = df['headline'].apply(lambda x: pattern_searcher(search_str=x, search_list=pattern_city))

In [107]:
df = df.replace('NA', np.nan)

In [108]:
df.isnull().sum()

headline      0
country     633
city         40
dtype: int64